.page{
	width: 100%;
	height: 100%;
	position: absolute;
}
.page1-1{ background-color:#083846;}

.wrap{
	width: 248px;
	height: 500px;
	margin: 0 auto;
}
.page1-1 .img1{
	width: 248px;
	margin-top: 20px;
}
.page1-1 .img2{
	width: 185px;
	position: absolute;
	top: 62%;
	
}